html{
    box-sizing: border-box;
}
*{
    box-sizing: inherit;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
/* body{
    display: flex;
    flex-wrap: wrap;
} */
#map {
    height: 80%;
}
.main__footer p{
    text-align: center;
}
.main__header{
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}
.main__header__a{
    text-decoration: none;
}
.main__header__ul{
    list-style: none;
}
.main__header__li{
    display: inline-block;
    margin: 0 10px;
    padding: 20px 5px;
}