html{
    box-sizing: border-box;
}
*{
    box-sizing: inherit;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    /* font-family: 'Aref Ruqaa', serif; */
    color: rgba(9, 64, 96, 1);
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
#map {
    height: 100%;
}
.main__footer p{
    text-align: center;
    color: #433D3D;
}
.main__header__h1 {
    padding: 0;
    margin: 0;
}
.main__header{
    padding: 0 50px;
    margin: 0 ;
    display: flex;
    justify-content: space-between;
    color: #433D3D;
    background: rgba(0,0,0,0.0);  /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to bottom, rgba(170,201,255,0.8) ,rgb(255,255,255));  */
     /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to bottom,rgba(170,201,255, 0.8) ,rgb(255,255,255)); */
     /*W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.main__header__a{
    text-decoration: none;
    color: rgba(9, 64, 96, 1);
}
.main__header__h1 span{
    font-weight: bold;
    margin-bottom: 10px;
}
.main__header__ul{
    list-style: none;
}
.main__header__li{
    display: inline-block;
    margin: 0 7px;
    font-weight: 600;
}
.main__footer {
    background: rgba(0,0,0,0.0);  /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to top, rgba(170,201,255,0.8) ,rgb(255,255,255));  */
     /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to top,rgba(170,201,255, 0.8) ,rgb(255,255,255)); */
     /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-top: auto;
}
img{
    width:150px;
    margin-top: 8px;
}
/* my color dark grey for write #433D3D,middle blue rgba(170,201,255, 0.8) ,white rgb(255,255,255), button #2196f3 */